body {
  background-color: #ffffff;
  margin: auto;
  width: 75%;
  max-width: 2000px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: Inconsolata,monospace;
  font-weight: 300;
  font-size: 1.5rem;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  font-family: Inconsolata,monospace;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
}

h1 {
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 2;
}
h2 {
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 2;
  background-color:white;
}
#intro {
margin-top: 100px;
margin-bottom: 100px;
text-align: left;
position: relative;
}

#scrolly {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 1rem;
}

#scrolly > * {
-ms-flex: 1;
flex: 1;
}

article {
position: relative;
padding: 0 1rem;
max-width: 30rem;
}

figure {
position: -webkit-sticky;
position: sticky;
margin: 0;
background-position: center;
background-image:"./images/headshot2.jpg";
}

.step {
margin: 0 auto 1rem auto;
color: black;
background-color:white;
-webkit-transition: background-color 1000ms linear;
-ms-transition: background-color 1000ms linear;
transition: background-color 1000ms linear;
}

.step:last-child {
margin-bottom: 100px;
}

.step p {
text-align: center;
padding: 1rem;
font-size: 1.5rem;
}

.is-active {
  background-color:rgb(210, 222, 235);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.description{
  font-size: 0.5rem;
  text-align: left;
}