
body {
  background-color: #ffffff;
  margin: auto;
  width: 75%;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: Inconsolata,monospace;
  font-weight: 300;
  font-size: 1.5rem;
}
h1 {
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 2;
}
h2 {
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 2;
  background-color:white;
}
#intro {
margin-top: 100px;
margin-bottom: 100px;
text-align: left;
position: relative;
}

#scrolly {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 1rem;
}

#scrolly > * {
-ms-flex: 1;
flex: 1;
}

article {
position: relative;
padding: 0 1rem;
max-width: 30rem;
}

figure {
position: -webkit-sticky;
position: sticky;
margin: 0;
background-position: center;
background-image:"./images/headshot2.jpg";
}

.step {
margin: 0 auto 1rem auto;
color: black;
background-color:white;
-webkit-transition: background-color 1000ms linear;
-ms-transition: background-color 1000ms linear;
transition: background-color 1000ms linear;
}

.step:last-child {
margin-bottom: 100px;
}

.step p {
text-align: center;
padding: 1rem;
font-size: 1.5rem;
}
.step p a {
  color:black;
}
.is-active {
  background-color:rgb(210, 222, 235);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.description{
  font-size: 0.5rem;
  text-align: left;
}

.sidenav {
  height: 100%;
  width: 145px;
  position: fixed;
  z-index: 1;
  top: 25;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*Social Media Icons*/
.btn{
  font-size: 50px;
  padding: 0px;

}

/*Remove blue border during onclick*/
.btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none;
}

.fa-github{
  color: black;
}

.fa-linkedin{
  color: #0077B5;
}
